
body{
    background-color: gray;
}

#mainContent{
    margin-top: 75px; 
    background-color: white;
}

#sidebar{
    background-color: darkgray;
    text-align: center;
    
}

#sidebarHead{
    background-color: black;
    color: white;
    font-size: 25px;
    list-style: none;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.card{
    margin-top: 20px;
    position: relative;
    width: 90%;

}

footer{
    background-color: darkgray;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


form{
    padding: 30px;
}