
body{
    background-color: #777777;
    color: #555555;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2 ;
    background-image: url("images/rhombus"); 
}

#sidebar{
    position: relative;
    background-color: #b8b0fc; 
   
    
    /* height: 100%; */
}

.container{
    background-color: rgb(217, 215, 240);
    
}

#sidebarHead{
    padding: 5px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(54, 54, 54);
    color: white;
}

#mainContent{
    margin-top: 75px;
    align-content: center;
    padding: 10px;
    
}
.card{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    height: 30px;
    position: sticky;
    bottom: 0px;
    color: #eee;
}




